@{
    ViewData["Title"] = "Home Page";
}

<div class="overflow-hidden">
    <h1 class="display-3 text-center mb-5 mt-5 fw-bolder">Welcome to our<br/>Job Application Tracker!</h1>
    <div class="nav-justified fs-5">    
        <p >Are you seeking a new job but feeling overwhelmed by the abundance of offers and requirements in the job market?
    Would you like to use a tool that helps you organise and visualise the job applications you have sent to different positions?
        If yes, then this is the perfect place for you!
    </p>

    <p>This website is created to simplify your job search. It allows you to:</p>
    <ul>
        <li>Track the status of your applications and receive notifications for any updates.</li>
        <li>Keep all your applications in one place</li>
        <li>Ensure you have all the necessary information about the application to make a decision, such as the details provided by the company during your previous contact or your level of confidence regarding the job.</li>
        <li>Include the link to the original applications in one centralized place.</li>
    </ul>
    <p>Our web application helps you find the job of your dreams.</p> Do not waste any more time or opportunities. Register for free today and begin using JobTrack. Your professional future is waiting for you!
    </div>
</div>
