html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.star {
    font-size: 25px;
    color: gray;
    cursor: pointer;
}
.star:hover {
    color: yellow;
}